@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ASP.NET Core Web App Development</h1>
    <p>
        Simple Demo to port inside a container.....
    </p>
</div>
